<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- BHM-10-23-2021 -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CSS Layout</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
  <body>
		<div class="page">
			<div class="menu">
				<ul>
					<li><a href="#">Sports</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Business</a></li>
					<li><a href="#">Food</a></li>
				</ul>
			</div>
			<main>
				<article>
					<h2>Why Pumpkin Spice is so Popular</h2>
					<p class="date">October 23, 2021</p>
					<img src="images/pumkinspice.jpeg">
					<p>We’re nearing the 20-year mark for pumpkin spice lattes at Starbucks and other coffee shops. But that’s not the only pumpkin trend. Pumpkin bread, muffins and cookies are also popular on the market. Coffee creamer and pumpkin beer are also huge food trends in the fall. Pumpkin spiced recipes abound on the internet and Pinterest alike. There’s a lot of theories about why pumpkin spice is so popular including the following:</p>
					<ul>
						<li>Pumpkin and those warming spices remind us of coziness, holiday baking and Thanksgiving time. It’s the ultimate comfort-food.</li>
						<li>Buying a “PSL” or other product when you’re out is an affordable luxury. It’s a treat that won’t break the bank and feels like an indulgence. That could be why pumpkin spiced products were especially popular in 2008 during the recession and perhaps one reason behind an early release in 2020 during COVID.</li>
						<li>Pumpkin and those warming spices remind flavors embody American nostalgia. As we seek that external feeling of happiness s of coziness, holiday baking and Thanksgiving time. It’s the ultimate comfort-food.</li>
						<li>It’s delicious. Or at least some people think so. I’m breaking down the flavor profile below but there’s no denying that ground cinnamon, nutmeg, ginger, cloves, and (sometimes) allspice are a wonderful combination of spices.</li>
					</ul>
					<a href="https://www.nytimes.com/" target="_blank">Click to continue reading</a>
					<p class="date">Source: <a href="https://champagnenutrition.com/why-pumpkin-spice-is-so-popular/" target="_blank">champagnenutrition.com</a> Accessed: October 23, 2021</p>
				</article>
				<a href="../index.html">Go back</a>
			</main>
		</div>
  </body>
</html>