html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(32, 32, 32);
}

.page {
	margin: 3rem auto;
	max-width: 1000px;
	box-shadow: 1px 1px 10px 5px rgb(196, 196, 196);
	display: flex;
	height: 900px;
}

.menu {
	width: 200px;
	flex-shrink: 0;
	background-color: #67371e;
	border-right: 20px solid #da8938;
}

.menu a {
	display: block;
	padding: 20px;
	text-decoration: none;
	font-size: inherit;
	transition: font-size .2s;
	color: white;
}

.menu a:link {
	color: white;
}

.menu a:visited {
	color: #da8938;
}

.menu a:hover {
	background-color: #da8938;
	color: black;
}

.menu a:active {
	font-size: 1.5rem;
}

.menu ul {
	margin: 100px 0;
	padding: 0;
	list-style-type: none;
}

main {
	padding: 50px;
}

.news-article {
	overflow: hidden;
	height: 730px;
	border-bottom: 1px solid black;
	margin-bottom: 2rem;
}

.news-article li {
	margin: .5rem 0;
	clear: both;
}

img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.continue-reading {
	color: blue;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

.continue-reading:hover {
	color: red;
	text-decoration: underline;
}