html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(32, 32, 32);
}

.page {
	padding: 3rem;
	margin: 3rem auto;
	max-width: 800px;
	border-width: 10px;
	border-style: ridge;
}

.contact-info {
	padding: 2rem 0 3rem;
}

.contact-info input:focus + label,
.contact-info input:not(:placeholder-shown) + label {
	transform: scale(.6) translate(-10px, -20px);
}

.text-input {
	position: relative;
	margin-right: 2rem;
}

.text-input label {
	transition: .2s;
	position: absolute;
	left: 0;
}

.contact-info input {
	border-style: none none solid none;
	outline: none;
	background-color: white;
	width: 200px;
}

.stars-select {
	padding-bottom: 2rem 0;
}

.stars-select select {
	font-size: 1.2rem;
	color: gold;
	background-color: aliceblue;
}

.recommend {
	padding: 1rem 0 2rem;
}

.recommend-option {
	padding: .5rem 0;
}

.review-txt textarea {
	margin: .5rem 0;
}

.submit-button {
	padding: .2rem 1rem;
	margin: .5rem 0 1rem;
	font-size: large;
}

